omi-netsuite-system-api/src/main/mule/create-child-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="create-child-customerFlow" doc:id="7928d557-967c-41df-8e32-b0970e653fc0" >
		<ee:transform doc:name="Transform Message" doc:id="0081b0ad-8078-4c12-9ddd-dc1f24936f40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	category: {
		internalId: payload.category.internalId,
		name: payload.category."type"
	},
	customFieldList: {
		customField: [{
			StringCustomFieldRef__custentity6: payload.StringCustomFieldRef__custentity6,
			StringCustomFieldRef__custentity31: payload.StringCustomFieldRef__custentity31,
			StringCustomFieldRef__custentity17: payload.StringCustomFieldRef__custentity17,
			StringCustomFieldRef__custentity18: payload.StringCustomFieldRef__custentity18, // 3 if freshwave and 1 if cannabolish
			StringCustomFieldRef__custentity19: payload.StringCustomFieldRef__custentity19, // Online for vertical markets always this value
			StringCustomFieldRef__custentity12: payload.StringCustomFieldRef__custentity12 // always this value
		}]
	},
	customForm: {
		internalId: payload.customForm.internalId
	},
	email: payload.email,
	entityId: payload.entityId,
	entityStatus: {
		internalId: payload.entityStatus.internalId
	},
	firstName: payload.firstName,
	isPerson: payload.isPerson as Boolean,
	lastName: payload.lastName,
	parent: {
		internalId: payload.parent.internalId
	},
	phone: payload.phone,
	taxItem: {
		internalId: "10684", // always this value
	},
	taxable: "true" as Boolean // always this value hardcoded 
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:add-record doc:name="Add record" doc:id="4c4d1112-0a94-4f6c-bf7e-56c557136c4a" config-ref="NetSuite_Config" recordType="CUSTOMER"/>
		<logger level="INFO" doc:name="Logger" doc:id="cb10ad23-1bb8-426c-a876-3af7039083a3" message="--------------------------RESPONSE FROM NETUITE AFTER CUSTOMER IS CREATED-----------#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ecc0f0ae-d9f5-477e-bbd3-c25eecd92a02" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
"customer_created": payload.status.isSuccess,
"customer-internalId": payload.baseRef.internalId

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d002e777-2d95-4f06-b6c3-303041bab030" message="#[payload]"/>
	</flow>
</mule>
