omi-netsuite-system-api/src/main/mule/create-child-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="create-child-customerFlow" doc:id="7928d557-967c-41df-8e32-b0970e653fc0" >
		<logger level="INFO" doc:name="Logger" doc:id="052cab37-9313-497b-b86b-c528ea16886d" />
		<ee:transform doc:name="Transform Message" doc:id="0081b0ad-8078-4c12-9ddd-dc1f24936f40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	category: {
		externalId: null,
		internalId: "22",
		// name: "Individual",
		"type": "CUSTOMER_CATEGORY"
	},
	companyName: "ABCD",
	customFieldList: {
		customField: [{
			StringCustomFieldRef__custentity6: "48"
		}]
	},
	email: "ritesh.verma@maverickdigital.com",
	firstName: "Ritesh",
	isPerson: "true" as Boolean,
	lastName: "V",
	taxItem: {
		externalId: null,
		internalId: "10710",
		//name: null,
		//"type": null
	},
	taxable: "true" as Boolean
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:add-record doc:name="Add record" doc:id="4c4d1112-0a94-4f6c-bf7e-56c557136c4a" config-ref="NetSuite_Config" recordType="CUSTOMER"/>
		<ee:transform doc:name="Transform Message" doc:id="ecc0f0ae-d9f5-477e-bbd3-c25eecd92a02" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d002e777-2d95-4f06-b6c3-303041bab030" message="#[payload]"/>
	</flow>
</mule>
