omi-process-sales-order/src/main/mule/validate-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="validate-customerFlow" doc:id="ae385db4-122d-4688-aa80-0d21501b3b63" >
		<ee:transform doc:name="get-kibo-customer-id" doc:id="0991786c-aaca-469f-971e-6e61e4c09611" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="customerId" ><![CDATA[%dw 2.0
output application/json
---
payload."customerAccountId"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0517e369-68a0-492a-9ce2-a7258c088ce8" message="#[vars.customerId]"/>
		<http:request method="GET" doc:name="create-new-customer?" doc:id="39056a5a-dabf-492c-a5a9-4adb5500f0bf" config-ref="HTTP_NetSuite_SystemAPI" path="/api/netsuite/child-customer/{customerId}" target="create_customer">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"customerId" : vars."customerId"
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="43c097b4-9416-4024-9807-b710cb0ca14d" message="#[vars.create_customer]"/>
		<choice doc:name="Choice" doc:id="61f9966c-d9b5-4759-9486-f2cc9d349ee0">
			<when expression="#[vars.create_customer == false]">
				<logger level="INFO" doc:name="Logger" doc:id="d523177b-23d6-4682-8e8b-aa5112dadb54" message="---------Child Customer Already Exists----------"/>
				<logger level="INFO" doc:name="Logger" doc:id="d13e231f-7066-4d8b-a1ea-2310aa9b91c2" />
				<flow-ref doc:name="create-sales-order-netsuite" doc:id="a413d09c-0a2f-41d6-ba54-5a784799bc70" name="create-sales-order-netsuiteFlow" />
			</when>
			<otherwise>
				<flow-ref doc:name="create-child-customer-netsuite" doc:id="50fe3d9d-6aec-4ac6-9778-f8447b9ba028" name="create-child-customer-netsuiteFlow" />
				<flow-ref doc:name="create-sales-order-netsuite" doc:id="b8185315-919b-47e7-9be4-6c4f3bb1342e" name="create-sales-order-netsuiteFlow" />
			</otherwise>
		</choice>
	</flow>
</mule>
